workflow/logs
workflow/report
workflow/results
workflow/.snakemake
workflow/data
workflow/scripts/abundance_estimation.py
workflow/resources/bac_refs/*list
workflow/resources/bac_refs/merge*
workflow/resources/bac_refs/seqtk_subfasta.txt
workflow/resources/nanosim-train/sra_data.fastq
.test/logs
.test/results
.test/report.html
.snakemake
logs/
results/
